body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    background-size: cover;
    overflow: hidden;
}

h2{
    text-transform:uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align:center;
    color: wheat;
}

.clock{
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span{
    width: 100px;
    height: 80px;
    border-radius: 500px;
    background: brown;
    opacity: 80%;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 7px 2px 4px rgba(0, 0 0, 1);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkred;

}

.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: black;
}

#date{
    display: flex;
    background: wheat;
    width: auto;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color:brown;
}